{:deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases  {:build {:extra-paths ["src" "resources"]
                    :deps {io.github.clojure/tools.build {:git/tag "v0.2.1" :git/sha "dd64636"}}
                    :ns-default build}

            :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}
                                 codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}}
                    :exec-fn codox.main/generate-docs
                    :exec-args {:source-paths  ["src"]
                                :metadata {:doc/format :markdown}
                                :doc-files ["README.md" "examples.md"]
                                :source-uri "https://gitlab1.ptb.de/vaclab/devproxy/-/blob/master/{filepath}#L{line}"
                                :language :clojure
                                :output-path "docs"}}

            :dev {:extra-paths ["src" "resources"]
                  :extra-deps {compojure/compojure {:mvn/version "1.6.1"}
                               com.taoensso/carmine {:mvn/version "3.0.0"}
                               http-kit/http-kit {:mvn/version "2.5.0"}
                               hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
                               cheshire/cheshire {:mvn/version "5.10.0"}
                               ring/ring-defaults {:mvn/version "0.3.2"}
                               ring/ring-core {:mvn/version "1.7.1"}
                               ring/ring-devel {:mvn/version "1.7.1"}
                               ring/ring-json {:mvn/version "0.5.0"}
                               org.clojars.wactbprot/vl-data-insert {:mvn/version "0.2.1"}
                               org.clojure/data.json {:mvn/version "1.0.0"}
                               com.brunobonacci/mulog  {:mvn/version "0.6.0"}
                               com.brunobonacci/mulog-elasticsearch {:mvn/version "0.6.0"}
                               com.ashafa/clutch {:mvn/version "0.4.0"}}}}}
