{
 :dev-hub {:conn "http://localhost:55555"}
 :couch {:conn "http://a73434:5984/vl_db"
         :all-tasks-view ["dbmp" "tasks"]
         :devices-view ["share" "DeviceClass"]
         :calibration-ids-view ["share" "Year_Standard-Type_Certificate_Issue"]}
 :redis {:conn {:pool {} :spec {:host "127.0.0.1" :port 6379 :db 1}}}
 :server {:port 8009 :join? false}
 :se3 {:no-of-devs 5
       :items {:fullscale ["0.1T" "1T"]
               :branch ["dut-a" "dut-b" "dut-c"]}}
 :page-title "AoC"
 :main-title "A/o/C"
 :select "select"
 :years [ "2020" "2021" "2019"]
 :maintainers ["C" "T"]
 :gases ["N2" "He"]
 :standards ["SE3" "SE1" "CE3"]
 :modes ["seq" "para"]
 :sep "/"
 :prefix "anselm"
 :keys {:id "id"
        :year "year"
        :gas "gas"
        :mode "mode"
        :standard "standard"
        :maintainer "maintainer"
        :branch "branch"
        :device "device"
        :default "default"
        :task "task"
        :fullscale "fullscale"}
 }
