{
 :mulog {:type :multi
         :publishers[
                     ;; send events to the stdout
                     ;; {:type :console
                     ;;  :pretty? true}
                     ;; send events to a file
                     ;; {:type :simple-file
                     ;;  :filename "/tmp/mulog/events.log"}
                     ;; send events to ELS
                     {:type :elasticsearch
                      :url  "http://localhost:9200/"
                      :els-version  :v7.x
                      :data-stream  "vl-log-stream"
                      :name-mangling false}]}
 :dev-hub {:prot "http"
           :host "localhost"
           :port 9009
           :request {:headers {"Content-Type" "application/json"}
                     :keepalive 300000
                     :timeout 300000  }}
 :couch {:prot "http"
         :host "localhost"
         :port 5984
         :db "vl_db_work"
         :all-tasks-view ["dbmp" "tasks"]
         :devices-view ["share" "DeviceClass"]
         :calibration-ids-view ["share" "Year_Standard-Type_Certificate_Issue"]}
 :redis {:conn {:pool {}
                :spec {:host "127.0.0.1"
                       :port 6379
                       :db 1}}}
 :server {:port 8009 :join? false}
 ;; parallel request that go to the same device
 ;; need some relaxation time:
 :par-delay 500
 ;; sequential tasks (e.g. init--> range --> ind)
 ;; need some relaxation time too:
 :seq-delay 100
 :fullscale [{:Unit "Pa"  :Display "SRG"      :Value  2.0}
             {:Unit "Pa"  :Display "0.1mbar"  :Value  10.0}
             {:Unit "Pa"  :Display "0.25mbar" :Value  25.0}
             {:Unit "Pa"  :Display "1mbar"    :Value  100}
             {:Unit "Pa"  :Display "1.1mbar"  :Value  110}
             {:Unit "Pa"  :Display "10mbar"   :Value  1000.0}
             {:Unit "Pa"  :Display "11mbar"   :Value  1100.0}
             {:Unit "Pa"  :Display "100mbar"  :Value  10000.}
             {:Unit "Pa"  :Display "1000mbar" :Value  100000.0}
             {:Unit "Pa"  :Display "1100mbar" :Value  110000.0}
             {:Unit "Pa"  :Display "0.01Torr" :Value  1.33}
             {:Unit "Pa"  :Display "0.1Torr"  :Value  13.3}
             {:Unit "Pa"  :Display "0.25Torr" :Value  33.3305}
             {:Unit "Pa"  :Display "1Torr"    :Value  133.322}
             {:Unit "Pa"  :Display "10Torr"   :Value  1333.22}
             {:Unit "Pa"  :Display "100Torr"  :Value  13332.2}
             {:Unit "Pa"  :Display "200Torr"  :Value  26664.4}
             {:Unit "Pa"  :Display "1000Torr" :Value  133322.0}]
 :range-factor {"fullscale" 1
                "fullscale/1" 1
                "fullscale/10" 0.1
                "fullscale/100" 0.01
                "fullscale/1000" 0.001
                "fullscale/10000" 0.0001
                "fullscale/100000" 0.00001
                "fullscale/1000000" 0.000001}
 :items {:se3-branch ["dut-a" "dut-b" "dut-c"]
         :ce3-opkx ["opK1" "opK2" "opK3" "opK4" "opK5"]
         :ce3-port ["P1" "P2" "P3" "P4"]}
 :page-title "devproxy"
 :main-title "devproxy"
 :select "select"
 :years [ "2020" "2021" "2019"]
 :n ["1" "2" "3" "4" "5" "6" "7" "8" "9" "10"]
 :maintainers ["Christian Buchmann" "Thomas Bock"]
 :gases ["N2" "Ar" "He" "Kr" "Ne" "Xe"]
 :standards ["SE3" "SE1" "CE3"]
 :modes ["sequential" "parallel"]
 :sep "/"
 :prefix "devproxy"
 :keys {:id "id"
        :n "n"
        :year "year"
        :gas "gas"
        :mode "mode"
        :standard "standard"
        :maintainer "maintainer"
        :branch "branch"
        :device "device"
        :default "default"
        :task "task"
        :fullscale "fullscale"}}
